body {
    background: #23252a;
    color: #f4f4f6;
    font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.place-details {
    max-width: 700px;
    margin: 40px auto 0 auto;
    padding: 32px 36px;
    background: rgba(28, 28, 34, 0.98);
    border-radius: 18px;
    box-shadow: 0 6px 48px 0 rgba(0,0,0,0.25);
    text-align: center;
}

.place-image {
    max-width: 380px;
    width: 100%;
    border-radius: 18px;
    margin-bottom: 36px;
    box-shadow: 0 4px 32px rgba(0,0,0,0.23);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, .place-title {
    font-size: 2.4em;
    font-weight: 900;
    margin-bottom: 18px;
    color: #fff;
    letter-spacing: 1px;
}

.place-host {
    font-size: 1.12em;
    margin: 16px 0 0 0;
    color: #ffb347;
    font-weight: 700;
}
.place-desc {
    font-size: 1.18em;
    margin: 22px 0 18px 0;
    color: #e0e0e0;
    font-weight: 400;
}
.place-price {
    font-size: 1.15em;
    margin: 18px 0 6px 0;
    font-weight: 700;
    color: #fff;
}
.place-amenities-title {
    font-size: 1.15em;
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: 8px;
    color: #e2e2e2;
    letter-spacing: 0.5px;
}
.place-amenities-list {
    margin-bottom: 22px;
    padding: 0;
    list-style: none;
    color: #ffdd8c;
    font-size: 1.06em;
}
.place-amenities-list li {
    margin-bottom: 4px;
    display: inline-block;
    background: #292b32;
    color: #ffdd8c;
    padding: 7px 16px;
    border-radius: 12px;
    margin-right: 8px;
    font-weight: 500;
}

.place-reviews-title {
    font-size: 1.20em;
    font-weight: bold;
    margin: 40px 0 12px 0;
    color: #c0e0fd;
}
.place-reviews-list {
    margin-bottom: 24px;
    padding: 0;
    list-style: none;
}
.place-reviews-list li {
    background: #26282f;
    color: #e1e1e1;
    border-radius: 12px;
    margin-bottom: 12px;
    padding: 13px 24px;
    text-align: left;
}
.place-reviews-list b {
    color: #66ffb7;
}
.no-review {
    color: #a7adb7;
    margin-bottom: 16px;
    font-style: italic;
}

.add-review-title {
    font-size: 1.22em;
    font-weight: 800;
    color: #fff5be;
    margin: 36px 0 12px 0;
}
