<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Logements disponibles</title>
  <link rel="stylesheet" href="/static/css/all.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="icon" href="/images/icon.png">
</head>
<body>
  <header class="header">
    <div class="logo-container">
      <img src="images/logo.png" alt="Logo" class="logo">
    </div>
    <a href="login.html" id="login-link" class="login-button">Connexion</a>
    <a href="#" id="logout-link" class="login-button" style="display:none;">Déconnexion</a>
  </header>
  <main>
    <h1>Logements disponibles</h1>
    <div class="filter">
      <label for="max-price"><b>Prix maximum:</b></label>
      <select id="max-price">
        <option value="all">Tous</option>
        <option value="100">$100</option>
        <option value="150">$150</option>
        <option value="200">$200</option>
        <option value="10000">$10000</option>
        <option value="20000">$20000</option>
      </select>
    </div>
    <div id="places-container">
      <!-- Les cards seront générées en JS -->
    </div>
  </main>
  <footer class="footer">
    © 2025 - All rights reserved.
  </footer>
  <script src="static/js/places.js"></script>
</body>
</html>
