<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Places</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="icon" href="../static/images/icon.png">
</head>
<body>
  <header>
    <img src="../static/images/logo.png" alt="Logo" class="logo">
    <a href="login.html" class="login-button">Login</a>
  </header>
  <nav>
    <a href="index.html">Home</a>
    <a href="login.html">Login</a>
  </nav>
  <main>
    <h1>List of Places</h1>
    <div id="places-container">
      <!-- JavaScript will inject .place-card elements here -->
    </div>
  </main>
  <footer>
    <p>© 2025 - All rights reserved.</p>
  </footer>
  <script src="../static/js/places.js"></script>
</body>
</html>